*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D9D9;
}
nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50vh;
    height: 100px;
    background-color: #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    display: flex; /* Cambiamos ul a flex para alinear horizontalmente */
    gap: 80px; /* Espaciado entre los elementos */
    padding: 0; /* Eliminamos padding por defecto del ul */
    margin: 0; /* Eliminamos margen por defecto del ul */
    
}

ul > li {
    list-style-type: none; /* Quitamos los puntos de la lista */
}

a {
    text-decoration: none; /* Eliminamos el subrayado de los enlaces */
    color: black; /* Ponemos el color que desees */
}

.container-header{
display: flex;
gap: 22vh;
    }
    .grupo-1{
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .parr-opaco{
        color:#454545;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        margin-top: 40px;
        font-weight: bold;

    }
    .parr-azul-header{
        color:#075985;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        font-weight:bold;
        margin-bottom: 50px;
        
    }
.header-tittle{
  
   font-size: 8vh;
    text-shadow: 0px 2px 2px  #000000;
    margin-bottom: 48px;
}

.bton-1{
    background-color: #2a7096;
    border-radius: 10px;
    height: 55px;
    width: 155px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bton-2{
    background-color: #2a7096;
    border-radius: 10px;
    height: 55px;
    width: 155px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;


}

.bton-1 , .bton-2{
    cursor: pointer;
}
.bton-1_parr1{
    color: white;
    cursor: pointer;
}
.bton-2_parr2{
    color: white;
    cursor: pointer;
}

    .grupo-2{
        flex:1;
    }
.img-header{
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.379));

}

.containerwhigetg{
    display: flex;
    justify-content: center;
    gap: 27vh;
    margin-top: 9vh;
}

.whidget_1 ,.whidget_2  {
    width: 50px;
    margin-left: 60px;
}
.whidget_3, .whidget_4{
    width: 50px;
}
.whidget_3{
    margin-left: 34px;
}
.whidget_4{
    margin-left: 80px;
    
}

.parr-whidget{
    margin-top: 15px;
}

.title-superio-section{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 8vh;
    margin-bottom: 40px;
    color: #454545;
    margin-left: 79px;
}

.container-section{
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-left: -20vh;
}


.grupo1_section{
filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.379));
}

.grupo2_section{
    max-width: 65vh;
}